body {
  font-family: "Jost";
  background-color: #fffcf5;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.reservation-body {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 50px;
  position: relative;
  width: 420px;
  height: 415px;
  background-color: white;
}
#reservation-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  border-bottom: 1px solid black;
  padding: 20px 20px 20px 50px;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}
h1 {
  font-family: "Jost";
  font-size: 35px;
  text-transform: capitalize;
  color: #3c3c3c;
  text-align: center;
}
#reservationForm {
  margin-top: 60px;
}
.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form-input input {
  width: 50%;
  height: 25px;
}
button {
  position: absolute;
  bottom: 40px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  background: none;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}
