@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-VariableFont_wght.ttf") format("woff2"),
    url("/fonts/Jost-VariableFont_wght.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cormorant-Garamond";
  src: url("/fonts/CormorantGaramond-Bold.ttf") format("woff2"),
    url("/fonts/CormorantGaramond-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GiveYouGlory";
  src: url("/fonts/GiveYouGlory.ttf") format("woff2"),
    url("/fonts/GiveYouGlory.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Freehand";
  src: url("/fonts/Freehand.ttf") format("woff2"),
    url("/fonts/Freehand.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
