#home {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-background {
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(0.3) blur(2px);
}
.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home-btn {
  background-color: #ffffff;
  border: none;
}
#home-btn a {
  color: #262626;
  text-decoration: none;
}
