@import url("/reset.css");
* {
  scroll-margin-top: 75px;
}
.section {
  margin-bottom: 55px;
}
h1 {
  font-family: "Jost";
  font-size: 75px;
  text-transform: capitalize;
  color: #ffff;
  text-align: center;
}
h2 {
  margin-bottom: 20px;
  font-family: "Cormorant-Garamond";
  font-size: 55px;
  text-transform: uppercase;
  color: #1e1e1e;
  text-align: center;
}
h3 {
  font-family: "Cormorant-Garamond";
  font-size: 55px;
  text-transform: uppercase;
  color: #ffff;
  text-align: center;
}
.org-text {
  margin-bottom: 15px;
  font-family: "Jost";
  font-size: 20px;
  font-weight: 500;
  color: #ff9d00;
  text-align: center;
  text-transform: capitalize;
}
.mn-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  font-family: "Jost";
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
}
#mobile-nav {
  position: fixed;
}
#mobile-nav,
#nav-btn {
  display: none;
}
@media screen and (max-width: 810px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  .mn-btn {
    width: 170px;
    height: 40px;
  }
  .org-text {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  .menu-item {
    font-size: 15px;
  }
  .menu-price {
    font-size: 15px;
  }
}
@media screen and (max-width: 705px) {
  #contact-menu {
    width: 80%;
  }
}
@media screen and (max-width: 550px) {
  #home-header nav {
    display: none;
  }
  #nav-btn {
    display: block;
    position: absolute;
    top: 25px;
    left: 50px;
    background: none;
    border: none;
    font-size: 25px;
    color: #272727;
  }
  #mobile-nav {
    display: flex;
    justify-content: center;
    background: #161616;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.85;
  }
  #mobile-nav nav {
    text-align: center;
  }
  #mobile-nav ul {
    margin-top: 155px;
  }
  #mobile-nav li {
    margin-bottom: 35px;
  }
  #mobile-nav a {
    font-family: "Cormorant-Garamond";
    font-size: 30px;
    color: #ff9d00;
    cursor: pointer;
    text-transform: capitalize;
    text-decoration: none;
  }
  #lng-nav {
    position: absolute;
    bottom: 15px;
  }
  #lng-nav span {
    color: #ff9d00;
  }
  #close-btn {
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 2;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
  .mn-btn {
    width: 135px;
    height: 40px;
    font-size: 12px;
  }
  .org-text {
    width: 95%;
    font-size: 13px;
  }
  p {
    font-size: 12px;
  }
  #menu-list {
    width: 80vw;
  }
  .menu-item {
    font-size: 15px;
  }
  .menu-price {
    font-size: 15px;
  }
  #contact-menu {
    width: 90%;
    padding: 20px;
  }
  #contact-menu img {
    width: 90px;
  }
  #socials {
    font-size: 20px;
  }
}
@media screen and (max-width: 435px) {
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 25px;
  }
  .org-text {
    font-size: 12px;
  }
  #contact-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #socials {
    position: absolute;
    top: 20px;
    right: 15px;
  }
}
@media screen and (max-width: 290px) {
  .menu-item {
    font-size: 12px;
  }
  .menu-price {
    font-size: 12px;
  }
}
